{% if validlink %}
  <form method="POST">
    {% csrf_token %}

    {{ form.new_password.errors }}
    <label for="id_new_password1">Nueva contraseña</label>
    {{ form.new_password1 }}

    {{ form.new_password.errors }}
    <label for="id_new_password2">Confirme la contraseña</label>
    {{ form.new_password2 }}

    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
  </form>
{% else %}
  <h1 class="text-center">Enlace ya ha vencido</h1>
{% endif %}
