{% extends "../principal/base.html" %}

{% load static %}

{% block title %}
  Reestablecer contraseña
{% endblock %}

{% block scroll %}
  scrolled
{% endblock %}

{% block content %}
<div id="fh5co-main" class="spacer">

  <div class="container to-animate intro-animate-1 fadeInUp animated">

    <div class="col-xs-12">
      <h1 class="text-center">Recuperación de contraseña</h1>
      <div class="divider text-center">
        <i uk-icon="icon: lock"></i>
      </div>
    </div>

    <div class="sub-spacer">
      <div class="col-xs-12 text-center">
        <h4>Su contraseña se reestableció correctamente</h4>
      </div>
      <div class="col-xs-12 text-center">
        <a href="{% url 'principal:ingresar' %}" class="btn">Iniciar sesión</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
