{% extends "../principal/base.html" %}

{% load static %}

{% block title %}
  Reestablecer contraseña
{% endblock %}

{% block scroll %}
  scrolled
{% endblock %}

{% block content %}
<div id="fh5co-main" class="spacer">

  <div class="container to-animate intro-animate-1 fadeInUp animated">

    <div class="col-xs-12">
      <h1 class="text-center">Recupera tu contraseña</h1>
      <div class="divider text-center">
        <i uk-icon="icon: lock"></i>
      </div>
    </div>

    <div class="sub-spacer">
      <div class="col-xs-12 text-center">
        <span>Te hemos envíado un correo con un enlace para reestablecer tu contraseña.</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
//<![CDATA[
  function resize(){
      var heights = window.innerHeight;
      document.getElementById("fh5co-main").style.height = heights + "px";
  }
  resize();
  window.onresize = function() {
      resize();
  };
  //]]>
</script>
{% endblock %}
