{% extends "../principal/base.html" %}

{% load static %}

{% block title %}
  Catálogo
{% endblock %}

{% block scroll %}
  scrolled
{% endblock %}

{% block content %}
<div id="fh5co-main" class="spacer">

  <div class="container to-animate intro-animate-1 fadeInUp animated">

    <div class="col-xs-12">
      <h1 class="text-center">Catálogo</h1>
      <div class="divider text-center">
        <i uk-icon="icon: menu"></i>
      </div>
    </div>

    <div class="sub-spacer" ng-controller="conCatalogo">
      <div ng-repeat="servicio in servicios">
        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-large distance-item">
            <div class="uk-card-body">
                <h4 class="fit2Text"><span>{$ servicio.fields.nombre $}</span></h4>
                <span>
                    {$ servicio.fields.descripcion $}
                </span>
                <div class="text-right">
                  <strong>Precio</strong>
                  <br>
                   <span>$ {$ servicio.fields.precio $}</span>
                  <br>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'cliente/js/angular/controllers/conCatalogo.js' %}"></script>
{% endblock %}
