{% extends "../principal/base.html" %}

{% load static %}

{% block title %}
  Perfil
{% endblock %}

{% block scroll %}
  scrolled
{% endblock %}

{% block content %}
<div id="fh5co-main" class="spacer">

  <div class="container to-animate intro-animate-1 fadeInUp animated">

    <div class="col-xs-12">
      <h1 class="text-center">Mi perfil</h1>
      <div class="divider text-center">
        <i uk-icon="icon: heart"></i>
      </div>
    </div>

    <div class="sub-spacer">
      <div>
        <form method="POST" action="/cliente/perfil/actualizar/" id="perfil_form">

           {% csrf_token %}

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="nombre">Nombre</label>
              <input id="nombre" type="text" value="{{ user.usuario.nombre }}">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="email">Correo electrónico</label>
              <input id="email" type="text" value="{{ user.email }}" disabled>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="phone">Teléfono</label>
              <input id="phone" type="number" value="{{ user.usuario.telefono }}">
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-md-offset-6 text-right">
              <button type="submit" name="button" class="btn btn-primary">Actualizar datos</button>
            </div>
          </div>
        </form>
      </div>

      <div>
        <h3 class="text-center">Actualizar contraseña</h3>
        <div class="divider text-center">
          <i uk-icon="icon: lock"></i>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 form">
            <label for="pass">Contraseña actual</label>
            <input id="pass" type="password" placeholder="Contraseña">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 form">
            <label for="new-password">Nueva contraseña</label>
            <input id="new-password" type="password" placeholder="Contraseña">
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-md-offset-6 text-right">
            <a href="#" class="btn btn-primary">Actualizar contraseña</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
  $(function(){
    var form = $('#perfil_form');

    form.submit(function(event) {
      event.preventDefault();

      $.ajax({
          type: form.attr('method'),
          url: form.attr('action'),
          data: form.serialize()
      }).done(function(data) {
          if (data === "Actualizado") {
              UIkit.notification({
                  message: "<span uk-icon='icon: check'></span> Datos actualizados",
                  status: 'success',
                  pos: 'top-center',
                  timeout: 5000
              });

            window.location.href = '/cliente/perfil/';
        }else if (data === "Faltan datos") {
          UIkit.notification({
            message: "<span uk-icon='icon: warning'></span> Error "+data,
            status: 'danger',
            pos: 'bottom-center',
            timeout: 5000
          });
        } else {
            UIkit.notification({
                message: "<span uk-icon='icon: warning'></span> Error "+data,
                status: 'danger',
                pos: 'bottom-center',
                timeout: 5000
            });
        }
      }).fail(function(data) {

      });
    });
  });
</script>
{% endblock %}
