{% extends '../principal/base.html' %}

{% load static %}

{% block title %}
  Registro
{% endblock %}

{% block scroll %}
  scrolled
{% endblock %}

{% block content %}
<div id="fh5co-main" class="spacer">

  <div class="container to-animate intro-animate-1 fadeInUp animated">

    <div class="col-xs-12">
      <h1 class="text-center">¡Registrate!</h1>
      <div class="divider text-center">
        <i uk-icon="icon: heart"></i>
      </div>
    </div>

    <div class="sub-spacer">
      <div ng-controller="conRegistro">
        <form>

          {% csrf_token %}

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="name">Nombre</label>
              <input id="name" type="text" required ng-model="nombre">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="email">Correo electrónico</label>
              <input id="email" type="email" required ng-model="email">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="phone">Teléfono</label>
              <input id="phone" type="text" required ng-model="telefono">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="password">Contraseña</label>
              <input id="password" type="password" required ng-model="password">
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-md-offset-6 text-right">
              <button class="btn btn-primary" ng-click="registrar()">Registrar</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <span>¿Ya tienes una cuenta? <a href="{% url 'principal:ingresar' %}">¡Inicia sesión!</a></span>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
//<![CDATA[
  function resize(){
      var heights = window.innerHeight;
      document.getElementById("fh5co-main").style.height = heights + "px";
  }
  resize();
  window.onresize = function() {
      resize();
  };
  //]]>
</script>

<script src="{% static 'cliente/js/angular/controllers/conRegistro.js' %}"></script>
{% endblock %}
