{% load static %}
<!DOCTYPE html>
<html lang="es" ng-app="appControl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Control{% endblock %} | Panel de control</title>

  <!-- favicon -->
  <link rel="icon" href="{% static 'commons/images/favicon.png' %}">

  <!-- UiKit -->
  <link rel="stylesheet" href="{% static 'commons/css/uikit.min.css' %}">

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'commons/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- DataTables CSS -->
  <link href="{% static 'control/css/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="{% static 'control/css/datatables/dataTables.responsive.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'control/css/sb-admin.css' %}" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="{% static 'control/css/plugins/morris.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'control/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'control/css/style.css' %}">

  {% block extralink %}

  {% endblock %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="{% url 'principal:tablero' %}">Panel de control de Innail</a>
      </div>

      <ul class="nav navbar-right top-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  {{ user.usuario.nombre }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
            {% if request.user.is_superuser %}
              <a href="{% url 'administrador:perfil' %}"><i class="fa fa-fw fa-user"></i> Perfil</a>
            {% else %}
              <a href="{% url 'empleado:perfil' %}"><i class="fa fa-fw fa-user"></i> Perfil</a>
            {% endif %}
            </li>
            <li class="divider"></li>
            <li>
              <a href="{% url 'principal:salir' %}"><i class="fa fa-fw fa-power-off"></i> Salir</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav    side-nav">
          <li class="{% block tablero %}{% endblock %}">
            <a href="{% url 'principal:tablero' %}"><i class="fa fa-fw fa-dashboard"></i> Tablero</a>
          </li>

          {% if request.user.is_superuser %}
          <li class="{% block clientes %}{% endblock %}">
            <a href="{% url 'administrador:clientes' %}"><i class="fa fa-fw fa-users"></i> Clientes</a>
          </li>

          <li class="{% block empleados %}{% endblock %}">
            <a href="{% url 'administrador:empleados' %}"><i class="fa fa-fw fa-users"></i> Empleados</a>
          </li>

          <li class="{% block servicios %}{% endblock %}">
            <a href="{% url 'administrador:servicios' %}"><i class="fa fa-fw fa-book"></i> Servicios</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">

        {% block content %}

        {% endblock %}

      </div>
    </div>

  </div>

  <!-- jQuery -->
  <script src="{% static 'commons/js/jquery.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'commons/js/bootstrap.min.js' %}"></script>

  <!-- UiKit -->
  <script src="{% static 'commons/js/uikit.min.js' %}"></script>
  <script src="{% static 'commons/js/uikit-icons.min.js' %}"></script>

  <!-- Angular -->
  <script src="{% static 'commons/js/angular.min.js' %}"></script>
  <script src="{% static 'control/js/angular/appControl.js' %}"></script>

  <!-- DataTables JavaScript -->
  <script src="{% static 'control/js/datatables/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'control/js/datatables-plugins/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'control/js/datatables-responsive/dataTables.responsive.js' %}"></script>

  {% block extrascript %}

  {% endblock %}

</body>

</html>
