{% extends "control/base.html" %}

{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Mi perfil
    </h1>
  </div>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'principal:tablero' %}"><i class="fa fa-fw fa-dashboard"></i> Tablero</a></li>
  <li class="active"><i class="fa fa-fw fa-user"></i> Perfil</li>
</ol>

<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="nombre">Nombre completo</label>
        <input type="text" class="form-control" id="nombre" value="{{ user.usuario.nombre }}">
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="text" class="form-control" id="email" disabled value="{{ user.email }}">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" value="{{ user.usuario.telefono }}">
      </div>
      {% if not request.user.is_superuser %}
      <div class="form-group">
        <label for="direccion">Dirección de residencia</label>
        <input type="text" class="form-control" id="direccion" value="{{ user.usuario.direccion }}">
      </div>
      {% endif %}
      <div class="form-group text-right">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#confirmar">Actualizar mis datos</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmación de actualización de datos</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Actualizar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
