{% extends "../control/base.html" %}

{% load static %}

{% block title %}Clientes registrados{% endblock %}

{% block clientes %}
active
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Servicios <small>Catálogo de servicios ofertados</small>
    </h1>
  </div>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'principal:tablero' %}"><i class="fa fa-fw fa-dashboard"></i> Tablero</a></li>
  <li class="active"><i class="fa fa-fw fa-users"></i> Clientes</li>
</ol>

<div class="datatable_list">
  <table width="100%" class="table table-striped table-hover" id="tabla-servicios">
    <thead>
      <tr>
        <th class="col-md-4">Nombre</th>
        <th class="col-md-4">Correo</th>
        <th class="col-md-4">Teléfono</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}

{% block extrascript %}
<script>
    $(document).ready(function() {
      listar();
    });

    var listar = function() {
      var tabla = $('#tabla-servicios').DataTable({
        "language": {
          "url": "{% static 'control/js/datatables/js/datatable_spanish.json' %}"
        },
        "ajax": {
           "processing": true,
           "url": "/administrador/lista_clientes/",
           "dataSrc": ""
        },
        "columns":[
          {"data": "nombre"},
          {"data": "usuario__username"},
          {"data": "telefono"}
        ]
      });
    }
</script>
{% endblock %}
