{% extends "../control/base.html" %}

{% load static %}

{% block title %}Empleados{% endblock %}

{% block empleados %}
active
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Empleados <small>Listado de empleados activos</small>
    </h1>
  </div>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'principal:tablero' %}"><i class="fa fa-fw fa-dashboard"></i> Tablero</a></li>
  <li class="active"><i class="fa fa-fw fa-users"></i> Empleados</li>
</ol>

<div class="row">
  <div class="col-xs-12">
    <a href="{% url 'administrador:registrar_empleados' %}" class="btn btn-primary btn-lg btn-block">Registrar nuevos empleados</a>
  </div>
</div>

<div class="datatable_list">
  <table width="100%" class="table table-striped table-hover" id="tabla-servicios">
    <thead>
      <tr>
        <th class="col-md-3">Nombre</th>
        <th class="col-md-3">Correo</th>
        <th class="col-md-3">Teléfono</th>
        <th class="col-md-3">Dirección</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}

{% block extrascript %}
<script>
    $(document).ready(function() {
      listar();
    });

    var listar = function() {
      var tabla = $('#tabla-servicios').DataTable({
        "language": {
          "url": "{% static 'control/js/datatables/js/datatable_spanish.json' %}"
        },
        "ajax": {
           "processing": true,
           "url": "/administrador/lista_empleados/",
           "dataSrc": ""
        },
        "columns":[
          {"data": "nombre"},
          {"data": "usuario__username"},
          {"data": "telefono"},
          {"data": "direccion"}
        ]
      });
    }
</script>
{% endblock %}
