{% extends "../control/base.html" %}

{% load static %}

{% block title %}Registrar empleado{% endblock %}

{% block empleados %}
active
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Registrar empleados <small>Agrega nuevos empleados</small>
    </h1>
  </div>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'principal:tablero' %}"><i class="fa fa-fw fa-dashboard"></i> Tablero</a></li>
  <li class="active"><i class="fa fa-fw fa-book"></i> Servicios</li>
</ol>

<div class="row">
  <div class="col-xs-12" ng-controller="conRegistroEmpleado">
    <form>
      <div class="form-group">
        <label for="nombre">Nombre completo</label>
        <input type="text" class="form-control" id="nombre" ng-model="nombre">
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="text" class="form-control" id="email" ng-model="email">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" ng-model="telefono">
      </div>
      <div class="form-group">
        <label for="direccion">Dirección de residencia</label>
        <input type="text" class="form-control" id="direccion" ng-model="direccion">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" ng-model="password">
      </div>
      <div class="form-group text-right">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#confirmar">Registrar nuevo empleado</button>
      </div>

      <div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Confirmación de registro de servicio</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12">
                  <strong>Nombre:</strong> {$ nombre $}
                </div>
                <div class="col-xs-12">
                  <strong>Correo electrónico:</strong> {$ email $}
                </div>
                <div class="col-xs-12">
                  <strong>Telefono:</strong> {$ telefono $}
                </div>
                <div class="col-xs-12">
                  <strong>Dirección:</strong> {$ direccion $}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limpiar()">Cancelar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="registrar()">Registrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'control/js/angular/controllers/conRegistroEmpleado.js' %}"></script>
{% endblock %}
