{% extends "../control/base.html" %}

{% load static %}

{% block title %}Registrar servicio{% endblock %}

{% block servicios %}
active
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Registrar servicios <small>Agrega nuevos servicios ofertados al catálogo</small>
    </h1>
  </div>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'principal:tablero' %}"><i class="fa fa-fw fa-dashboard"></i> Tablero</a></li>
  <li class="active"><i class="fa fa-fw fa-book"></i> Servicios</li>
</ol>

<div class="row">
  <div class="col-xs-12" ng-controller="conRegistroServicio">
    <form>
      <div class="form-group">
        <label for="nombre">Nombre del servicio</label>
        <input type="text" class="form-control" id="nombre" ng-model="nombre">
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción del servicio</label>
        <textarea class="form-control descriptions-textarea" rows="3" id="descripcion" ng-model="descripcion"></textarea>
      </div>
      <div class="form-group">
        <label for="precio">Precio del servicio</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" id="precio" ng-model="precio">
        </div>
      </div>
      <div class="form-group text-right">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#confirmar">Ofertar nuevo servicio</button>
      </div>

      <div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Confirmación de registro de servicio</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12">
                  <strong>Nombre:</strong> {$ nombre $}
                </div>
                <div class="col-xs-12">
                  <strong>Descripcion:</strong> {$ descripcion $}
                </div>
                <div class="col-xs-12 text-right">
                  <strong>Precio:</strong> $ {$ precio $}
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limpiar()">Cancelar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="registrar()">Ofrecer</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'control/js/angular/controllers/conRegistroServicio.js' %}"></script>
{% endblock %}
