{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es" ng-app="appPrincipal"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %} | Innail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Servicios de belleza al alcance de tu mano" />
	<meta name="keywords" content="belleza, cuidado, estilo, experiencia" />
	<meta name="author" content="fb.com/Kuatio" />

  <!--
	//////////////////////////////////////////////////////

	INNAIL, Plataforma para atención a la belleza

	DESARROLLADA por E, Nat y Lo para BD basada en OUTLINE Template

	Website: 		http://freehtml5.co/
	Template: https://freehtml5.co/outline-free-html5-bootstrap-template/

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'commons/images/favicon.png' %}">

	<!-- Google Webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- bootstrap -->
  <!--<link rel="stylesheet" href="{% static 'commons/css/bootstrap.min.css' %}">-->
  <!-- uikit -->
  <link rel="stylesheet" href="{% static 'commons/css/uikit.min.css' %}">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'cliente/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{% static 'cliente/css/icomoon.css' %}">
	<!-- Simple Line Icons-->
	<link rel="stylesheet" href="{% static 'cliente/css/simple-line-icons.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'cliente/css/magnific-popup.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'cliente/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'cliente/css/owl.theme.default.min.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'cliente/css/style.css' %}">
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'cliente/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body class="{% block scroll %}{% endblock %}">

	<div id="fh5co-offcanvass">
		<ul>
			<li class="active"><a href="{% url 'principal:inicio' %}" data-nav-section="home">Inicio</a></li>

			{% if not user.usuario %}
			<li><a href="{% url 'principal:ingresar' %}">Ingresar</a></li>
      {% else %}
			<li><a href="{% url 'cliente:perfil' %}">Perfil</a></li>
			<li><a href="{% url 'principal:catalogo' %}">Catálogo</a></li>
			<li><a href="{% url 'principal:salir' %}">Salir</a></li>
			{% endif %}

		</ul>
	</div>

	<div id="fh5co-menu" class="navbar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><span>Menú</span> <i></i></a>
					<a href="{% url 'principal:inicio' %}" class="navbar-brand"><span>Innail</span></a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-page">
		<div id="fh5co-wrap">

				{% block content %}

				{% endblock %}

		</div>

		<footer id="fh5co-footer" style="">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-footer-content">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-md-push-3">
							<h3 class="fh5co-lead">About</h3>
							<ul>
								<li><a href="#">Tour</a></li>
								<li><a href="#">Company</a></li>
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">New Features</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-4 col-md-push-3">
							<h3 class="fh5co-lead">Support</h3>
							<ul>
								<li><a href="#">Help Center</a></li>
								<li><a href="#">Terms of Service</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">More Apps</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-4 col-md-push-3">
							<h3 class="fh5co-lead">More Links</h3>
							<ul>
								<li><a href="#">Feedback</a></li>
								<li><a href="#">Frequently Ask Questions</a></li>
								<li><a href="#">Terms of Service</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">More Apps</a></li>
							</ul>
						</div>

						<div class="col-md-3 col-sm-12 col-md-pull-9">
							<div class="fh5co-footer-logo"><a href="{% url 'principal:inicio' %}">Innail</a></div>
							<p class="fh5co-copyright"><small>&copy; 2017. Todos los derechos reservados. <br>	Basado en <a href="https://freehtml5.co/outline-free-html5-bootstrap-template/" target="_blank">OUTLINE Theme</a></small></p>
						</div>

					</div>
				</div>
			</div>
		</footer>
	</div>

  <!-- Modernizr JS -->
  <script src="{% static 'cliente/js/modernizr-2.6.2.min.js' %}"></script>
  <!-- jQuery -->
  <script src="{% static 'commons/js/jquery.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'cliente/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'commons/js/bootstrap.min.js' %}"></script>
  <!-- uikit -->
  <script src="{% static 'commons/js/uikit.min.js' %}"></script>
  <script src="{% static 'commons/js/uikit-icons.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'cliente/js/jquery.waypoints.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'cliente/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- Owl Carousel -->
	<script src="{% static 'cliente/js/owl.carousel.min.js' %}"></script>
	<!-- toCount -->
	<script src="{% static 'cliente/js/jquery.countTo.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'cliente/js/main.js' %}"></script>
	<!-- angular -->
	<script src="{% static 'commons/js/angular.min.js' %}"></script>
	<script src="{% static 'cliente/js/angular/appPrincipal.js' %}"></script>

  {% block extrascript %}

  {% endblock %}

	</body>
</html>
