{% extends 'principal/base.html' %}

{% load static %}

{% block title %}
  Ingresar
{% endblock %}

{% block scroll %}
  scrolled
{% endblock %}

{% block content %}
<div id="fh5co-main" class="spacer">

  <div class="container to-animate intro-animate-1 fadeInUp animated">

    <div class="col-xs-12">
      <h1 class="text-center">Iniciar sesión</h1>
      <div class="divider text-center">
        <i uk-icon="icon: heart"></i>
      </div>
    </div>

    <div class="sub-spacer">

      <div ng-controller="conIngreso">
        <form>

          {% csrf_token %}

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="email">Correo electrónico</label>
              <input id="email" type="text" required ng-model="email">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 form">
              <label for="password">Contraseña</label>
              <input id="password" type="password" required ng-model="password">
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-md-offset-6 text-right">
              <button type="submit" class="btn btn-primary" ng-click="ingresar(email, password)">Ingresar</button>
            </div>
          </div>

        </form>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <span>¿Olvidaste tu contraseña? <a href="{% url 'password_reset' %}">¡Recuperala!</a></span>
            <br>
            <span>¿No tienes una cuenta? <a href="{% url 'principal:registrarCliente' %}">¡Registrate!</a></span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
//<![CDATA[
  function resize(){
      var heights = window.innerHeight;
      document.getElementById("fh5co-main").style.height = heights + "px";
  }
  resize();
  window.onresize = function() {
      resize();
  };
  //]]>
</script>

<script src="{% static 'cliente/js/angular/controllers/conIngreso.js' %}"></script>
{% endblock %}
