{% extends 'principal/base.html' %}

{% load static %}

{% block title %}
  Inicio
{% endblock %}

{% block content %}

<header id="fh5co-hero" data-section="home" role="banner" class="start">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-intro">
    <div class="container">
      <div class="row">

        <div class="col-md-6 fh5co-text">
          <h2 class="to-animate intro-animate-1">Tu experiencia de belleza al siguiente nivel</h2>
          <p class="to-animate intro-animate-2">Encárgate de tu tiempo, nosotros nos encargaremos de tu belleza</p>
          {% if not user.usuario %}
            <p class="to-animate intro-animate-3"><a href="{% url 'principal:ingresar' %}" class="btn btn-primary btn-md"><i class="icon-leaf"></i> Ingresa</a></p>
          {% endif %}
        </div>
        <div class="col-md-6 text-right fh5co-intro-img to-animate intro-animate-4">
          <img src="{% static 'cliente/images/woman.png' %}" alt="">
        </div>

      </div>
    </div>
  </div>
</header>
<div id="fh5co-main">
  <br>
  <br>
  <br>
  <br>
  <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

{% endblock %}

{% block extrascript %}
<script type="text/javascript">
//<![CDATA[
  function resize(){
      var heights = window.innerHeight;
      document.getElementById("fh5co-hero").style.height = heights + "px";
  }
  resize();
  window.onresize = function() {
      resize();
  };
  //]]>
</script>

<script>

var $this = $( '#fh5co-main' );


$this.waypoint(function(direction) {

  if( direction === 'down' ) {
    $('body').addClass('scrolled');
  }
  else if( direction === 'up' ){
    $('body').removeClass('scrolled');
  }

}, { offset: '-1px' } );

</script>
{% endblock %}
