.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.pagination-list {
    margin: 5px 0;
}

a.collapsableTittle {
    text-decoration: none;
}

input.btnFile {
    display: none;
}

.thumb {
    height: 75%;
    width: 75%;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1049;
}

.sub-grid {
    padding: 7.5px 0;
}

.first-input {
    padding-top: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin-top: 10em;
}

@media (max-width: 378px) {
    .page-header {
        margin: 60px 0 20px;
    }
    
    .modal-dialog {
        position: relative;
        width: auto;
        margin-top: 12em;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 60px auto;
    }
    
    .sub-grid-left {
        padding-left: 0;
        padding-right: 7px;
    }

    .sub-grid-right {
        padding-left: 7px;
        padding-right: 0;
    }
}

.uk-notification-message {
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    background: #444444;
    color: #666;
    font-size: 1.5rem;
    line-height: 1.4;
    cursor: pointer;
    border-radius: 4px;
}

.uk-notification-message-success {
    color: #ffffff;
}

.descriptions-textarea {
    resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: #fff 50000s ease-in-out 0s, #fff 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #666 !important;
}

.datatable_list {
    margin-top: 2em;
}

.uk-notification-message {
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    background: #444444;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.4;
    cursor: pointer;
    border-radius: 4px;
}

.uk-notification-message-success {
    color: #ffffff;
}
